header{
    max-width: 1200px;
    /*height: 92px;*/
    height: 5%;
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #7828B4;
}
main{
    max-width: 1200px;
    min-height: 89%;
    margin: 0px auto;
    background: #F2F2F2;
}
.LogoBox{
    display:inline-block;
    width: 30%;
    margin: 0px -2px;
    vertical-align: top;
}
.Logo{
    font-family: Optima-ExtraBlack;
    font-size: 36px;
    line-height: 45px;
    color:#FFFFFF;
    margin: 0px 20%;
}




